html{

    background-color: #161926;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Montserrat';
    overflow-x:hidden;
    overflow-y:hidden;
}

ul{
    margin:0;
}
.header{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    background-color:#161926;
    width: 100%;
    height: 105px;
    align-items: center;
    justify-content: space-around;
}

.menu1{
    grid-column:5/7;
}
.menu2{
    grid-column: 8/10;
}
.menu3{
    display: none;
}
.logo{
    grid-column: 3/5;
    height: 40px;
    width: 170px;
}
.logo>img{
    width:100%
}
.header ul{
    display: flex;
    list-style: none;
}
.header a{
padding: 20px;
text-decoration:none;
}
.header li{
color:white
}
.link:hover{
    background-color: chocolate;
}

@media (max-width: 880px){
    .header{
        grid-template-columns: repeat(10, 50px);
        grid-template-rows: repeat(2, 50px);

    }
    .menu1{
        grid-column:3/5;
    }
    .menu2{
        grid-column: 4/6;
        grid-row: 2/2;

    }
    .logo{
        grid-column: 1/3;
        grid-row: span 2;
    }
}

.burger{display: none;}
@media (max-width: 600px){
    .header{
        grid-template-rows: repeat(1, 100px);
    }
    .burger{
        display: block;
        border: none;
        font-size: 2em;
        background-color: #161926;
        cursor: pointer;

        }

    .logo{
        grid-column: 2/4;
    }
    .menu1{
        display: none;
    }
    .menu2{
        display: none;
    }

    .menu3{
        display: block;
        grid-column: 6/7;

    }
    a{
        display: block;
    }
    .menu3:hover .menu1{
        display: block;
        position: absolute;
        background-color: #161926;
    }

}

.main>img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.main{
    width: 100%;
    display: grid;
    position: absolute;
    grid-template-columns: repeat(3, 30% 40% 30%);
    grid-template-rows: 5% 45%;

}

.reg{
    display: grid;
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(22,25,38, 0.8);

}
.reg>span{
    margin: auto;
    color: white;
    font-size: 20px;
}
.reg>button{
    width: 50%;
    height: 50%;
    border: none;
    background-color:  #0B8AFF;
    font-size: 22px;
    color: white;
    margin: auto;
    cursor: pointer;
}
.reg>input{

margin: 10px;
border: none;
background-color: #161926;
color: white;
width: 40%;
height: 50%;
 margin: auto;
}
.switch{
    cursor: pointer;
    margin: auto;
    display: flex;
}
input[type="checkbox"]{
    position: relative;
    width: 60px;
    height: 30px;
    -webkit-appearance: none; 
    outline: none;
    background: #c6c6c6;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgb(0,0,0,.2);
    cursor: pointer;
}
input:checked[type="checkbox"]{
    background: #40e551;
}
input[type="checkbox"]:before{
    content: "";
    position:absolute;
    width:30px;
    height: 30px;
    border-radius: 20px;
    background: #ffffff;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}   
input:checked[type="checkbox"]:before{
    left: 30px;
}
.switch>p{
    display: flex;
    color: white;
    font-size: 10px;
    margin: auto;
    margin-left: 5px;

}
.footer{
    display: grid;
    position: absolute;
    grid-row: 3/3;
    grid-template-columns: repeat(3, 30% 40% 30%);
    width: 100%;
    text-align: center;
}
.footer>div{
    display: flex;
    grid-column: 2/3;
    align-items: center;
    justify-content: right;
}
.footer>div>span{
    margin-right: 10px;
    color: white;   
}
.end{
    display: flex;
    position: absolute;
    width: 100%;
    grid-row: 3/3;
}