html{
    width:100%;
    height: 100%;
    background-color: #161926;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Montserrat';
    width: 100%;
    height: 100%;
    overflow:hidden;
}

ul{
    margin:0;
}
.header{
    display: grid;
    grid-template-columns: repeat(10, 10%);
    background-color:#161926;
    height: 105px;
    align-items: center;
    justify-content: space-around;
}

.menu1{
    grid-column:5/7;
}
.menu2{
    grid-column: 8/10;
}
.menu3{
    display: none;
}
.logo{
    grid-column: 3/5;
    height: 40px;
    width: 170px;
}
.logo>img{
    width:100%
}
.header ul{
    display: flex;
    list-style: none;
}
.header a{
padding: 20px;
text-decoration:none;
}
.header li{
color:white
}

.link:hover{
    background-color: chocolate;
}
@media (max-width: 880px){
    .header{
        grid-template-columns: repeat(10, 50px);
        grid-template-rows: repeat(2, 50px);

    }
    .menu1{
        grid-column:3/5;
    }
    .menu2{
        grid-column: 4/6;
        grid-row: 2/2;

    }
    .logo{
        grid-column: 1/3;
        grid-row: span 2;
    }
}

.burger{display: none;}
@media (max-width: 600px){
    .header{
        grid-template-rows: repeat(1, 100px);
    }
    .burger{
        display: block;
        border: none;
        font-size: 2em;
        background-color: #161926;
        cursor: pointer;

        }
    .logo{
        grid-column: 2/4;
    }
    .menu1{
        display: none;
    }
    .menu2{
        display: none;
    }

    .menu3{
        display: block;
        grid-column: 6/7;

    }
    a{
        display: block;
    }
    .menu3:hover .menu1{
        display: block;
        position: absolute;
        background-color: #161926;
    }

}
.mainmain{
    width: 100%;
    height: 75%;
    display: grid;
    background-color: #161926;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 60% 20%;
}
.mainmain>img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.helpform{
    width: 100%;
    display: grid;
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(22,25,38, 0.8);
    color:white;
    grid-template-rows: 15% 10% 10% 10% 10% 10% 20% 15%;
}
.helpform input{
    border: 0;
    cursor: pointer;
    color: #ffffff;
    background-color: #161926;
    width: 40%;
    height: 80%;
}
.formMessage>input{
    width: 80%;
    text-align: left;
}
.site{
    text-align: right;
    margin: 20px;
    font-size: 14px;
}
.help{
    margin-left: 20px;
    font-size: 30px;
}
.text1{
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.3);
}
.formName{
    margin-left: 20px;
}
.formEmail{
    margin-left: 20px;
}
.formid{
    margin-left: 20px;
}
.formMessage{
    margin-left: 20px;
}
.buttonMessage{
    margin-left: 20px;
}
.buttonMessage>button{
    width: 40%;
    height: 60%;
    background-color: #0B8AFF;
    color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;
}
.footer{
    display: grid;
    position: absolute;
    grid-template-columns: repeat(3, 20% 60% 20%);
    width: 100%;
    text-align: center;
}
.footer>div{
    display: flex;
    grid-column: 2/3;
    align-items: center;
    justify-content: right;
}
.footer>div>span{
    margin-right: 10px;
    color: white;
}